@import "abstracts/variables";
@import "components/navbar";
@import "components/buttons";
@import "components/cards";
@import "components/forms";
@import "components/utils";
@import "components/footer";
@import "components/dashboard";
@import "components/timeline";
@import "pages/home";
@import "pages/menus";
@import "pages/menu-detail";
@import "pages/commande";
@import "pages/contact";
@import "pages/employe";
@import "pages/legal";

// RESET GLOBAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #faf6f1;
  color: #1a1a1a;
  font-size: 1rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
